server.host: "0.0.0.0"
#elasticsearch.hosts: ["http://{{hostvars['el-instance']['ansible_facts']['default_ipv4']['address'] }}:9200"]
elasticsearch.hosts: ["http://192.168.56.118:9200"]
kibana.index: ".kibana" 